:root {
  --primary: #07060c;
  --primary-variant: #201d37;
  --primary-selected: #282446;
  --secondary: #ff5200;
  --secondary-variant: #e04802;
  --text: #e1e1e1;
  --title: #f3f3f3;
  --link: #088fbb;
  --link-variant: #066b8d;
  --danger: #e32727;
  --off-white: #7c7c7c;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  color: var(--text);
  border: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s ease-in-out;
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-variant);
  border-radius: 10px;
}

body {
  background: var(--primary);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: var(--title);
}

a {
  color: var(--link);
}

button {
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 26px;
  cursor: pointer;
}

button[type='submit'] {
  min-width: 40%;
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  background: var(--secondary);
}

input,
select:not(footer select) {
  background: transparent;
  padding: 0.5rem;
  border-bottom: 2px solid var(--primary-variant);
  width: 100%;
  margin-bottom: 1rem;
}

select {
  background: var(--primary);
}

input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--link-variant) inset !important;
  box-shadow: 0 0 0 30px var(--link-variant) inset !important;
  -webkit-text-fill-color: var(--text);
  color: var(--text);
}

label {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.3rem;
}

small {
  color: var(--danger);
}

.home-main {
  flex: 1;
  display: flex;
  height: 100vh;
  max-height: 1060px;
  max-width: 1440px;
  border: 2px solid var(--primary-variant);
}

.home-main * {
  transition: 0.1s ease-out;
}

.home-main header {
  max-width: 20em;
  overflow: auto;
}

.form-auth input:focus {
  border-color: var(--secondary);
}

.quake {
  animation: quake-effect 300ms linear;
}

#header_1 a {
  color: var(--off-white);
}

#header_1 nav li {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.nav-selected {
  border-left: 4px solid var(--secondary);
  background: var(--primary-selected) !important;
}

#header_1 nav li:hover {
  background: var(--primary-variant) !important;
}

.nav-selected *,
#header_1 nav li:hover a {
  color: var(--text) !important;
}

#header_1 nav li h3 {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-format {
  padding: 0;
}

[contenteditable='true'] .line:focus,
[contenteditable='true'] .line.isFocused {
  border: 1px solid var(--primary-variant);
}

.line {
  border: 1px solid transparent;
  transition: 0s;
  margin-top: 0.5rem;
}

.line-selected {
  border-color: var(--off-white) !important;
}

div.line:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

@media (max-width: 650px) {
  .home-main {
    flex-direction: column;
  }

  .home-main header {
    max-width: unset;
    flex: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  #header_1 {
    display: none;
  }

  #feed {
    padding-bottom: 10vh;
  }
}

@keyframes quake-effect {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(-1rem);
  }
}
